<% @title = "Bid-A-Bed" %>

<section id="bid_a_bed">
  <h1>Bid-A-Bed</h1>
  <p>Place a bid on any mattress set and receive an offer from our staff within 24 hours.</p>
  <form>
    <input type="text" placeholder="Brand" name="brand">
    <input type="text" placeholder="Model" name="model">
    <input type="text" placeholder="Size" name="size">
    <input type="text" placeholder="Comfort" name="comfort">
    <input type="text" placeholder="Bid" name="bid">
    <input type="text" placeholder="Email" name="email">
    <p id="status" class="hidden"></p>
    <button type="button">Place Bid</button>
  </form>
</section>

<script src="/scripts/bid-a-bed.js"></script>
