<% @title = "myownbed.com" %>

<section id="welcome">
  <div>
    <div class="left_corner"></div>
    <div class="right_corner"></div>
    <header>
      <hgroup>
        <h1>myownbed.com</h1>
        <h2>You've made your bed. Now, lie in it.</h2>
      </hgroup>
    </header>
  </div>
  <p>Fall 2012</p>
  <p><a href="/bid-a-bed">Bid-A-Bed</a> - <a href="https://www.facebook.com/Myownbedcom">Shop Now!</a></p>
</section>
