<% @title = "myownbed.com" %>

<section id="welcome">
  <div>
    <div></div> <!-- left corner -->
    <div></div> <!-- right corner -->
    <header>
      <hgroup>
        <h1>myownbed.com</h1>
        <h2>You've made your bed. Now, lie in it.</h2>
      </hgroup>
    </header>
  </div>
  <p>Fall 2012</p>
  <p><a href="https://www.facebook.com/Myownbedcom">Shop Now!</a></p>
</section>
