body {
  background-color: #215390;
  color: white;
  font-family: "Arial Rounded MT Bold", Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-size: 72px;
  font-weight: normal;
  margin: 32px 0;
}

a {
  color: white;
}

input:focus, select:focus, textarea:focus {
  outline: none;
}

.hidden {
  display: none;
}

.left_corner, .right_corner {
  border-width: 14px;
  height: 56px;
  position: absolute;
  width: 35px;
}

.left_corner {
  border-style: none none solid solid;
  bottom: 0;
  left: 0;
}

.right_corner {
  border-style: solid solid none none;
  right: 0;
}

#welcome {
  margin: 240px auto;
  width: 614px;
}

#welcome > div {
  height: 108px;
  position: relative;
}

#welcome hgroup h1 {
  margin: 0;
}

#welcome hgroup h2 {
  font-size: 22px;
  font-weight: normal;
  margin: 2px 0 0 54px;
}

#welcome > p {
  font-family: fantasy;
  font-size: 22px;
}

#welcome > p:first-of-type {
  font-family: "LiSong Pro", "Courier New", "Times New Roman", serif;
  font-size: 36px;
  margin: 200px 0 50px;
}

#welcome > p:first-of-type:before {
  content: "- ";
}

#welcome > p:first-of-type:after {
  content: " -";
}


#bid_a_bed {
  margin: 120px auto;
  position: relative;
  width: 600px;
}

#bid_a_bed > h1 {
  margin-left: 90px;
}

#bid_a_bed > a {
  display: block;
  height: 84px;
  left: 54px;
  position: absolute;
  width: 84px;
}

#bid_a_bed > p {
  font-size: 28px;
}

#bid_a_bed > form {
  margin: 0 auto;
  width: 300px;
}

#bid_a_bed > form > input, #bid_a_bed > form > button, #status {
  border-radius: 6px;
  margin: 19px 0;
  padding: 10px;
  width: 100%;
}

#bid_a_bed > form > input, #bid_a_bed > form > button {
  border: 1px solid black;
  display: block;
  font-size: 14px;
  height: 19px;
}

#bid_a_bed > form > button {
  background-color: #ddd;
  height: 40px;
  margin-top: 30px;
  width: 320px;
}

#status {
  margin-bottom: -11px;
}

#status.success {
  background-color: green;
}

#status.error {
  background-color: red;
}
